
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$white:    #fff !default;
$black:    #000 !default;

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// More colors
$dark :                   #2B2B2B !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Source Sans Pro', sans-serif !default;

$font-weight-lighter:         100 !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default; 

//== Grid breakpoints Spacing & Text
//
//## Font, line-height, and color for body text, headings, and more.

$grid-breakpoints: (
xs: 0,
sm: 768px,
md: 992px,
lg: 1200px
) !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;


@import './bootstrap/_bootstrap';

// Inside bootstrap 4
@import './_background';
@import './spacing';
@import './text';

 


